.loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('http://www.cssdrive.com/includes/loading.gif') no-repeat center center;
}
